In [3]:
import sqlite3
import pandas as pd

#Ler o dataframe

data = pd.read_csv('products_H&M_Final.csv')

query_showroom_schema = """
	
	CREATE TABLE showroom(
		product_id				TEXT,
		fit						TEXT,
		product_name			TEXT,
		product_price			REAL,
		color_name				TEXT,	
		style_id				INTEGER,
		color_id				INTEGER,
		scrapy_datetime			TEXT,
		size_number				INTEGER,
		size_model				TEXT,
		cotton					REAL,
		polyester				REAL,
		elastane				REAL,
		elasterell				REAL)"""

In [55]:
# Connect do DB
conn = sqlite3.connect('h&m_db.sqlite')
cursor = conn.execute(query_showroom_schema)
conn.commit()
conn.close()

In [56]:
from sqlalchemy import create_engine

In [57]:
conn = create_engine('sqlite:///h&m_db.sqlite',echo=False)

In [6]:
query = """ 
    SELECT * FROM SHOWROOM
        """
df = pd.read_sql_query(query,conn)
df.head()

,product_id,fit,product_name,product_price,color_name,style_id,color_id,scrapy_datetime,size_number,size_model,cotton,polyester,elastane,elasterell
0,985197001,slim_fit,slim_jeans,19.99,black,985197,1,2021-09-27 14:33:01,189.0,32/32,1.00,0.00,0.02,0.0
1,985197002,slim_fit,slim_jeans,19.99,midnight_blue,985197,2,2021-09-27 14:33:01,182.0,31/32,0.99,0.65,0.01,0.0
2,985197003,slim_fit,slim_jeans,19.99,denim_blue,985197,3,2021-09-27 14:33:01,182.0,31/32,0.99,0.65,0.01,0.0
3,985197004,slim_fit,slim_jeans,19.99,dark_denim_blue,985197,4,2021-09-27 14:33:01,NaN,None,1.00,0.00,0.01,0.0
4,985197005,slim_fit,slim_jeans,19.99,dark_denim_blue,985197,5,2021-09-27 14:33:01,NaN,None,0.99,0.65,0.01,0.0

In [59]:
## Insert Data to Table
data.to_sql('showroom',con=conn,if_exists='append',index=False)

In [5]:
## Command - Update
query = """
    UPDATE showroom
    SET fit = 'slim_fit'
    WHERE product_id = 985197001
"""


conn = sqlite3.connect('h&m_db.sqlite')
cursor = conn.execute(query)
conn.commit()